@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
}
.nav-container{
  background-color: #999;
  color: #fff;

}
.nav-container .portfolio{
  left: 0;
  padding-top: 2em;
  text-transform: uppercase;
}
.nav-container #he{
  display:flex;
  justify-content:flex-end;
  list-style-type: none;
  font-size: 2em;
  text-transform: uppercase;
}
#he a{
 padding-left: 1em;
 padding-right:1em;
 color: #fff;
 transition: 0.5s;
}
#he a:hover{
  text-decoration: none;
  color:crimson;
  background-color: white;
  border:2px solid #fff;
  text-align: center;
  border-radius: 10px;

}
span{
  color: crimson;
  font-size: 2.2em;
}
span:hover{
  color: rgb(68, 68, 68);
  cursor: pointer;
}
/* hero section starts*/
#hero{
  background-image: url(./images/hero.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#hero .hero-container{
  padding-left: 68px;
  padding-top: 88px;
  ; 
}

.hero-container h1{
 color:dodgerblue;
 text-transform: uppercase;
 ;
}

 p{
 color: #fff; 
 font-size: 2em;
 font-weight:300;
 font-family:'Roboto',sans-serif;
text-transform: capitalize;
font-style: italic;
}




/* hero section ends*/